<div id="forms-wrap"
class="border border-gray rounded-lg bg-light-gray mt-4">
  <div name="order-review-form"  role="form">
    <ng-container *ngIf="total!=null">
    <table id="order-review-table" class="table table-striped">
      <thead>
          <tr>
          <th>Type</th>
          <th>Model</th>
          <th>Condition</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let od of orderDetails$ | async">
        <tr>
          <td>{{ od.phoneType.name }}</td>
          <td>{{ od.phoneModel.name }}</td>
          <td>
            <span *ngIf="od.phoneCondition">
              {{ od.phoneCondition.id }}
            </span>
          </td>
          <td class="text-center">{{ od.quantity }}</td>
          <td>${{ od.subTotal }}</td>
        </tr>
      </ng-container>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th class="text-right">Total</th>
          <th>${{total}}</th>
        </tr>
      </tfoot>
    </table>
    </ng-container>
    <div *ngIf="total==null" class="container alert-warning d-flex justify-content-center align-content-center min-vh-12">
      <h3>No Order Data!</h3>
    </div>
  </div>

  <button [routerLink]="[{ outlets:
  { orderEditModal: ['order-edit-modal'] } }]"
  class="btn btn-primary mt-n5 mx-5">
    <span><i class="fas fa-edit"></i>Edit Sale Order</span>
  </button>

</div>
