<div role="main" class="container">

  <div class="starter-template">
    <h1>Select the phone you want to sell:</h1>
    <div class="picker-box rounded-lg p-3">


      <select class="form-control" placeholder="Phone Type" [(ngModel)]="selectedType" (change)="($event.target.value)">
        <option>--Choose Phone Type--</option>
        <option *ngFor="let phone of phones">{{ phone.type }}</option>
      </select>


      <select class="form-control" placeholder="Phone Model" (change)="($event.target.value)">
        <option>--Choose Phone Model--</option>
        <option *ngFor="let model of models">{{ model }}</option>
      </select>

      <div class="result-box">
        Your phone could be worth<br> $$
        <span>phoneValue</span>
      </div>
    </div>
    <!-- /.container -->
  </div>

</div>