body {
  padding-top: 5rem;
  background-color: #484a52;
}

.get-the-money-btn {
  background-color: rgb(71, 71, 71);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: bold;
  color: white;
}

.lead {
  display: inline-block;
}

.picker-box {
  background-color: dimgray;
  display: inline-block;
  padding: 3rem 1.5rem;
}

.result-box {
  background-color: rgb(212, 211, 211);
  padding: 2rem 1.5rem;
  text-align: center;
  text-justify: center;
  display: inline-block;
  font-style: italic;
  color: rgb(26, 25, 25);
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

option {
  margin: 0.5em;
}

select {
  margin: 0.5rem 0 0.5rem;
}

.h1 {
  color: whitesmoke;
}

.modal-footer {
  background-color: rgb(81, 89, 95);
  flex-direction: column;
  justify-content: center;
}

.button-auth {
  background-color: rgb(68, 79, 128);
  border-color: darkgray;
}

.image-container {
  position: relative;
}

.catchphrase {
  text-align: center;
  font-size: 30px;
  position: absolute;
  color: #f1f1f1;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 155px;
  letter-spacing: 1px;
}
