td > label {
  margin-bottom: 0px;
}

td {
  border: 1px solid black;
}

tr td {
  width: 1%;
  padding: 2 4;
}

table {
  width: 100%;
  border: 1px solid blueviolet;
}

form {
  width: 100%;
}

.my-modal-body {
  display: grid;
  margin: 15 auto;
  padding: 10 60;
}

.custom-table {
  table-layout: auto;
}
