div.corner-repeat > div:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
div.corner-repeat > div:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.max-750 {
  max-width: 750px;
}
.max-350 {
  max-width: 350px;
}

.sticky-total {
  position: fixed;
  top: 8.5vh;
  max-width: 345px;
}

.sale-calc-form {
  margin-top: 4rem;
}

@media only screen and (min-width: 576px) {
  .sticky-total {
    position: fixed;
    background-color: darkgrey;
    left: 60vw;
    top: 8.5vh;
    max-width: 30vw;
    flex-flow: column nowrap;
    padding: 2 15px;
  }

  .sale-calc-form {
    margin-top: 0;
  }
}
