
<form [formGroup]='saleOrderForm' class="form-group">

<select formControlName="phoneTypeControl"
  (change)="onSelectedPhoneTypeChange($event)"
  class="form-control">
  Select Phone Type
  <option selected disabled hidden>--Select Your Phone Type --</option>
  <option *ngFor="let phoneType of phoneTypesList"
    id="phoneType.typeId">{{phoneType.name}}</option>
</select>


<select formControlName="phoneModelControl"
  (change)="onSelectedPhoneModelChange($event)"
  class="form-control">
  Select Phone Model
  <option selected disabled hidden>-- Select Your Model --</option>
  <option *ngFor="let phoneModel of phoneModelList"
    [ngValue]="phoneModel">
    {{phoneModel.name}}
  </option>
</select>


<select formControlName="phoneConditionControl"
  (change)="changeCondition($event)"
  class="form-control">
  <option value="" disabled>
    Select your phone's condition
  </option>
  <option [ngValue]="condition"
  *ngFor="let condition of conditionsList" >
    {{condition}}
  </option>
</select>
</form>
