body {
  padding-top: 5rem;
  background-color: #484a52;
}

.main-panel-wrap {
  min-height: 81vh;
  padding-top: 10px;
}

.button-auth {
  background-color: rgb(68, 79, 128);
  border-color: darkgray;
}
