body {
  padding-top: 5rem;
  background-color: #484a52;
}

.lead {
  display: inline-block;
}

.picker-box {
  background-color: dimgray;
  display: inline-block;
  padding: 3rem 1.5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

option {
  margin: 0.5em;
}

select {
  margin: .5rem 0 .5rem;
}

.h1 {
  color: whitesmoke;
}

.button-auth {
  background-color: rgb(68, 79, 128);
  border-color: darkgray;
}

.image-container {
  position: relative;
}

.catchphrase {
  text-align: center;
  font-size: 30px;
  position: absolute;
  color: #f1f1f1;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 155px;
  letter-spacing: 1px;
}