body {
  padding-top: 5rem;
  background-color: #484a52;
}

.lead {
  display: inline-block;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

option {
  margin: 0.5em;
}

select {
  margin: .5rem 0 .5rem;
}

.h1 {
  color: whitesmoke;
}