/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
.max-width-750 {
  max-width: 750px;
}

.bord-1 {
  border: 1px solid blue;
}

.bord-2 {
  border: 1px solid red;
}

.bord-3 {
  border: 1px solid green;
}

.bord-4 {
  border: 1px solid orange;
}
